<div class="product-card">
  <a href="{{ product.url }}">
    {% if product.featured_image %}
      <img 
        src="{{ product.featured_image | img_url: '300x300' }}" 
        alt="{{ product.title | escape }}" 
        width="{{ product.featured_image.width }}" 
        height="{{ product.featured_image.height }}"
      />
    {% endif %}
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </a>
</div>
